nltk==25.0.1
matplotlib.pyplot
seaborn
wordcloud
sklearn.feature_extraction.text
string
nltk.tokenize
nltk.corpus
requests
streamlit
google-generativeai
pandas
python-docx
python-pptx
PyPDF2
Pillow
numpy
matplotlib
plotly.express
